@page
@model ShriGo.Pages.Admin.AdminDashboardModel
@{
    <link href="~/css/admin.css" rel="stylesheet" />

    <!--------------Rider Info-------------------------->
    <div class="container-fluid">
        <h3>Ride Table</h3>
        <table>
         <thead>
            <th>Id</th>
    
            <th>Date</th>
            <th>Source</th>
   
            <th>Destination</th>
    
            <th>Via</th>
 
            <th>Time</th>
            <th>Seats</th>
            <th>Contact</th>
       </thead>
       <tbody>
    
            @foreach (Model.RideModel rideModel in Model.listRideModel)
            {
                <tr>
                
                    <td>
                        @rideModel.RideId
                    </td>
                    <td>
                        @rideModel.RideDate
                    </td>
                    <br />
                    <td>
                        @rideModel.RideSource
                    </td>
                    <td>
                        @rideModel.RideDesti
                    </td>
                    <td>
                        @rideModel.RideVia
                    </td>
                    <td>
                        @rideModel.RideTime
                    </td>
                    <td>
                        @rideModel.RideSeats
                    </td>

                    <td>
                        @rideModel.RideContact
                    </td>
                
                </tr>

            }
    
        </tbody>

    </table>

    <br />
    <!--------------User Info-------------------------->
    <div class="container-fluid">
    <h3>User Table</h3>
            <table>
                 <thead>
                    <th>UserId</th>
    
                    <th>UserUniqueId</th>
                    <th>UserRegDate</th>
   
                    <th>UserFirstName</th>
    
                    <th>UserLastName</th>
 
                    <th>UserAge</th>
                    <th>UserEmail</th>
                    <th>UserContact</th>
                    <th>UserRole</th>
                    <th>Subscription</th>
                  </thead>
              <tbody>
                    @foreach (Model.UserModel userModel in Model.listUserModel)
                    {
                        <tr>
                            <td>
                                @userModel.UserId
                            </td>
                            <td>
                                @userModel.UserUniqueId
                            </td>                         
                            <td>
                                @userModel.UserRegDate
                            </td>
                            <td>
                                @userModel.UserFirstName
                            </td>
                            <td>
                                @userModel.UserLastName
                            </td>
                            <td>
                                @userModel.UserAge
                            </td>
                            <td>
                                @userModel.UserEmail
                            </td>
                            <td>
                                @userModel.UserContact
                            </td>
                            <td>
                                @userModel.UserRole
                            </td>
                            <td>
                                @userModel.Subscription
                            </td>
                        </tr>
                    }

                </tbody>

    </table>
    </div>
    </div>
}
