@page
@model ShriGo.Pages.Admin.AdminDashboardModel
@{
    <link href="~/css/admin.css" rel="stylesheet" />

    <!--------------Rider Info-------------------------->
    <div class="container-fluid">
        <h3>Ride Table</h3>
        <table class="table-success">
         <thead style="background-color:gainsboro">
            <th>Id</th>    
            <th>Date</th>
            <th>Source</th>   
            <th>Destination</th>    
            <th>Via</th> 
            <th>Time</th>
            <th>Seats</th>
            <th>Contact</th>
            <th>Driver Name</th>
            <th>Driver Unique Id</th>
       </thead>
       <tbody>
    
           @foreach (Model.SortedRideModel sortedRideModel in Model.listRideModel)
            {
                <tr>
                
                    <td>
                            @sortedRideModel.RideId
                    </td>
                    <td>
                            @sortedRideModel.RideDate
                    </td>
                  <td>
                            @sortedRideModel.RideSource
                    </td>
                    <td>
                            @sortedRideModel.RideDesti
                    </td>
                    <td>
                            @sortedRideModel.RideVia
                    </td>
                    <td>
                            @sortedRideModel.RideTime
                    </td>
                    <td>
                            @sortedRideModel.RideSeats
                    </td>

                    <td>
                            @sortedRideModel.DriverContact
                    </td>
                        <td>
                            @sortedRideModel.DriverFirstName
                        </td>
                        <td>
                            @sortedRideModel.DriverUniqueId
                        </td>
                
                </tr>

            }
    
        </tbody>

    </table>

    <br />
    <!--------------User Info-------------------------->
    <div class="container-fluid">
    <h3>User Table</h3>
            <table>
                <thead style="background-color:gold">
                    <th>UserId</th>    
                    <th>UserUniqueId</th>
                    <th>UserRegDate</th>
                    <th>UserFirstName</th>    
                    <th>UserLastName</th> 
                    <th>UserAge</th>
                    <th>UserEmail</th>
                    <th>UserContact</th>
                    <th>UserRole</th>
                    <th>Subscription</th>
                  </thead>
              <tbody>
                    @foreach (Model.UserModel userModel in Model.listUserModel)
                    {
                        <tr>
                            <td>
                                @userModel.UserId
                            </td>
                            <td>
                                @userModel.UserUniqueId
                            </td>                         
                            <td>
                                @userModel.UserRegDate
                            </td>
                            <td>
                                @userModel.UserFirstName
                            </td>
                            <td>
                                @userModel.UserLastName
                            </td>
                            <td>
                                @userModel.UserAge
                            </td>
                            <td>
                                @userModel.UserEmail
                            </td>
                            <td>
                                @userModel.UserContact
                            </td>
                            <td>
                                @userModel.UserRole
                            </td>
                            <td>
                                @userModel.Subscription
                            </td>
                        </tr>
                    }

                </tbody>

    </table>
    </div>
    </div>
}
