@page
@model ShriGo.Pages.IndexModel
@{
    ViewData["Title"] = "ShriGo";

}
<link href="~/css/home.css" rel="stylesheet" />

<link href="cdn.jsdelivr.net" rel="stylesheet">
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="cdn.jsdelivr.net"></script>
<link href="cdn.jsdelivr.net" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<div>
    <!-----------------Row1-Top --------------------------------->

    <div class="container-fluid">
        <div class="row" style="padding-left:6px; padding-right:6px">
            <img src="~/img/ShriGo_Landing_pg3.png" />
        </div>
       
        <div class="row" style="text-align:center">
            <h1 class="display-5">Welcome to ShriGo</h1>
            <h3 class="display-8">Make your Journey</h3>
        </div>
    </div>
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <div class="container-fluid">
        <h3>List of Rides available </h3>
        <div id="data-container">
            <!-- Dynamic content will be inserted here -->
        </div>

    </div>
    <div class="container-fluid">
        <br />
     <!----Active List----------------------------->
        @foreach (ShriGo.Model.RideModel rideModel in Model.listRideModel)
        {
            <!--------------------------->
            <br />
            //Define if the card should be dimmed(e.g., 4 hours passed)
            @* var isOld = rideModel.RideTime< DateTime.Now.AddHours(-4).ToString(); *@

            <div class="card">
                <div class="ride-row ride-card-header">
                    <h5 class="col-4">
                       @if (@rideModel.RideSource == "Airport")
                        {
                             <img src="~/img/flightimg1.png" alt="@rideModel.RideSource" width="43"/>
                             <span>@rideModel.RideSource</span>
                        }
                        else
                        {
                         <span >@rideModel.RideSource</span>
                        }
                     </h5>
                    <h5 class="col-4">
                       @if (@rideModel.RideDate == DateOnly.FromDateTime(DateTime.Now))
                        {
                            <span style="color:maroon;font-weight:bold">Today</span>
                        }
                        else if (@rideModel.RideDate == DateOnly.FromDateTime(DateTime.Now).AddDays(1))
                        {
                            <span style="color:green; font-weight:bold">Tomorrow</span>
                        }
                        else
                        {
                        <span>@rideModel.RideDate</span>
                        }
                    </h5>
                    <h5 class="col-4"> @rideModel.RideTime</h5>
                </div>
                <div class="row card-body">
                   <h6 class="col-7"> Via:@rideModel.RideVia</h6>
                   <h5 class="col-1"></h5>
                    <h5 class="col-4"><i class="bi bi-currency-rupee"></i>@rideModel.RidePrice/seat</h5>
               </div>
                <div class="ride-row ride-card-header">
                    <h5 class="col-4"> 
                        @if (@rideModel.RideDesti == "Airport")
                        {
                            <div>
                                <img src="~/img/flightimg1.png" alt="@rideModel.RideDesti" width="43"/>
                                <span>@rideModel.RideDesti</span>
                            </div>
                        }
                        else
                        {
                            <span>@rideModel.RideDesti</span>
                        }
                    </h5>
                    <h5 class="col-4" style="text-align:center">
                        <img src="~/img/seaticon.png" style="width:16px;height:19px; margin-right:4px"/>@rideModel.RideSeats
                    </h5>
                    <h5 class="col-4">
                        <a href="tel:@rideModel.RideContact" class="btn btn-success"><span style="font-weight:Bold">@rideModel.RideContact</span></a>
                    </h5>
                    
                </div>
            </div>
        }
    </div>

    <br />

</div>
@* <div id="viewer-count">Loading...</div> *@
<!---------------Script------------------------------------------------->
<script>
                document.addEventListener('DOMContentLoaded', () => {
                const dataContainer = document.getElementById('data-container');

                // Fetch JSON data (if from a file)
                fetch('data.json') // Replace 'data.json' with your file path
                    .then(response => response.json())
                    .then(data => {
                        // Create an unordered list element
                        const ul = document.createElement('ul');


                        // Loop through the JSON data and create list items
                        data.forEach(item => {
                                const li = document.createElement('li');
                                const contactButton  = document.createElement('button');
                            //    const div1  = document.createElement('Div');
    
                                    li.innerHTML = `<strong><h1>${item.Source}</h1>
                                                </strong>: ${item.Desti}
                                                </strong>: ${item.Via}
                                                </strong>: ${item.Time}
                                                </strong>: ${item.Date}`;
                                // div1.classList.add('modal');
                                // div1.tabIndex.add('-1')
                            contactButton.classList.add('btn', 'btn-info', 'btn-sm', 'ms-2'); // ms-2 for margin-start
                            contactButton.textContent = 'Details';
                            contactButton.addEventListener('click', () => {
                                    alert('Details for: ' + item.textContent.replace('Details', '').trim());

                        });
                        //li.appendChild(div1);
                                 li.appendChild(contactButton);
                            ul.appendChild(li);

                        });

                        // Append the created list to the container
                        dataContainer.appendChild(ul);

                    })
                    .catch(error => console.error('Error fetching data:', error));

                // If JSON data is embedded directly in JavaScript:
                // const embeddedData = [
                //     { "name": "Embedded Item 1", "description": "Description for embedded item 1" },
                //     { "name": "Embedded Item 2", "description": "Description for embedded item 2" }
                // ];
                //
                // const embeddedUl = document.createElement('ul');
                // embeddedData.forEach(item => {
                //     const li = document.createElement('li');
                //     li.innerHTML = `<strong>${item.name}</strong>: ${item.description}`;
                //     embeddedUl.appendChild(li);
                // });
                // dataContainer.appendChild(embeddedUl);
            });
           /*-------Slide Show---------------------------------*/
         $(document).ready(

             function(){

           $(window).scroll(function() {
             $(".slideanim").each(function(){
               var pos = $(this).offset().top;

               var winTop = $(window).scrollTop();
                 if (pos < winTop + 600) {
                   $(this).addClass("slide");
                 }
             });
           });
         })
     
    /*------------------------*/

</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4PQX2FTGWX"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4PQX2FTGWX');
</script>