@page
@model ShriGo.Pages.RiderInputModel
@{
 
<div class="container-fluid">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="card p-4 shadow-sm">
                            <h2 class="text-center mb-4">Ride Input</h2>
                            <form method="post">
                                <div class="mb-3">
                                    <label for="firstName" class="form-label">Date:</label>
                                    <input type="date" id="last-start-date" class="form-control" name="RideDate" min="01-01-2025"
                                           max="31-12-2026" placeholder="dd-mm-yyyy" value="@string.Format("{0:dd-MM-yyyy}", Model.LastStartDate)" />
                                </div>
                                <div class="mb-3">
                                    <label for="From" class="form-label">From:</label>
                                    <select name="RideSource" class="form-control" id="RideSource" >
                                        <option hidden>--</option>
                                        <option value="Hyd">Hyd</option>
                                        <option value="JBS">JBS</option>
                                        <option value="Airport">Airport</option>
                                        <option value="Arm">Arm</option>
                                        <option value="Nzb">Nzb</option>
                                        <option value="MTPL">MTPL</option>
                                        <option value="KRTL">KRTL</option>
                                    </select>

                                </div>
                                <div class="mb-3">
                                    <label for="age" class="form-label">To:</label>
                                    <select name="RideDesti" id="country" class="form-control">
                                        <option hidden>--</option>
                                        <option value="Hyd">Hyd</option>
                                        <option value="JBS">JBS</option>
                                        <option value="Airport">Airport</option>
                                        <option value="Arm">Arm</option>
                                        <option value="Nzb">Nzb</option>
                                        <option value="MTPL">MTPL</option>
                                        <option value="KRTL">KRTL</option>
                                    </select>

                                    </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Via:</label>
                                    <input type="text" class="form-control" id="myRideVia" name="RideVia" />

                                </div>
                                <div class="mb-3">
                                    <label for="contact" class="form-label">Time:</label>
                                   <select class="form-control" id="myRideTime" name="RideTime">
                                    <option hidden>--</option>
                                    <option value="01:00">01:00</option>
                                    <option value="02:00">02:00</option>
                                    <option value="03:00">03:00</option>
                                    <option value="04:00">04:00</option>
                                    <option value="05:00">05:00</option>
                                    <option value="06:00">06:00</option>
                                    <option value="07:00">07:00</option>
                                    <option value="08:00">08:00</option>
                                    <option value="09:00">09:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                    <option value="19:00">1900</option>
                                    <option value="20:00">20:00</option>
                                    <option value="21:00">21:00</option>
                                    <option value="22:00">22:00</option>
                                    <option value="23:00">23:00</option>
                                    <option value="24:00">24:00</option>
                               </select>
                                     </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Seats:</label>
                                    <select name="RideSeats" class="form-control" id=" country">
                                        <option hidden>--</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>

                                </div>
                                <div class="mb-3">
                                    <label for="Contact:" class="form-label">Contact:</label>
                                    <input type="text" class="form-control" id="myRideContact" name="RideContact" />
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary">Upload Ride</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

</div>

    <br />
    <table>
        <thead>
        <th>Id</th>
    
        <th>Date</th>
    
        <th>Source</th>
   
        <th>Destination</th>
    
        <th>Via</th>
 
        <th>Time</th>
        <th>Seats</th>
        <th>Contact</th>
      
        </thead>


        <tbody>
            @foreach (Model.RideModel rideModel in Model.listRideModel)
            {
                <tr>
                
                <td>
                @rideModel.RideId
                </td>
                    <td>
                        @rideModel.RideDate
                    </td>
                    <br />
                    <td>
                        @rideModel.RideSource
                    </td>
                    <td>
                        @rideModel.RideDesti
                    </td>
                    <td>
                        @rideModel.RideVia
                    </td>
                    <td>
                        @rideModel.RideTime
                    </td>
                    <td>
                        @rideModel.RideSeats
                    </td>

                    <td>
                        @rideModel.RideContact
                    </td>
                
                </tr>

            }
    
    </tbody>

    </table>
  
}
