@page
@model TesingProject.Pages.RiderInputModel
@{
    <form method="post">
    <div class="container-fluid">
        <label for="Date">Date:</label>

        <input type="date" id="last-start-date" name="RideDate" min="01-01-2025"
               max="31-12-2026" placeholder="dd-mm-yyyy" value="@string.Format("{0:dd-MM-yyyy}", Model.LastStartDate)" />

        <br><br>

        <label for="From">From:</label>
        <select name="RideSource" id="country">
            <option hidden>--</option>
            <option value="Hyd">Hyd</option>           
            <option value="JBS">JBS</option>
            <option value="Airport">Airport</option>
            <option value="Arm">Arm</option>
            <option value="Nzb">Nzb</option>
            <option value="MTPL">MTPL</option>
            <option value="KRTL">KRTL</option>
        </select>
 
        <br><br>

        <label for="To">To:</label>
        <select name="RideDesti" id="country">
            <option hidden >--</option>
            <option value="Hyd">Hyd</option>
            <option value="JBS">JBS</option>
            <option value="Airport">Airport</option>
            <option value="Arm">Arm</option>
            <option value="Nzb">Nzb</option>
            <option value="MTPL">MTPL</option>
            <option value="KRTL">KRTL</option>
        </select>
        <br><br>

        <label for="Via">Via:</label>
        <input type="text" id="myRideVia" name="RideVia" />
        <br><br>


        <label for="Time">Time:</label>
        <input type="text" id="myRideTime" name="RideTime" />
        <br><br>

         <label for="Seats">Seats:</label>
            <select name="RideSeats" id="country">
                <option hidden>--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <br><br>
            <label for="Contact">Contact:</label>
            <input type="text" id="myRideContact" name="RideContact" />
            <br><br>
    
    <button type="submit">Upload Ride</button>
        </div>
    </form>

    <br />
    <table>
        <thead>
            <th>Id</th>
    
        <th>Date</th>
    
        <th>Source</th>
        
        <th>Destination</th>
    
        <th>Via</th>
 
        <th>Time</th>
        <th>Seats</th>
        <th>Contact</th>
      
        </thead>


        <tbody>
            @foreach (Model.RideModel rideModel in Model.listRideModel)
            {
                <tr>
                
                <td>
                @rideModel.Id
                </td>
                    <td>
                        @rideModel.RideDate
                    </td>
                    <br />
                    <td>
                        @rideModel.RideSource
                    </td>
                    <td>
                        @rideModel.RideDesti
                    </td>
                    <td>
                        @rideModel.RideVia
                    </td>
                    <td>
                        @rideModel.RideTime
                    </td>
                    <td>
                        @rideModel.RideSeats
                    </td>

                    <td>
                        @rideModel.RideContact
                    </td>
                
                </tr>

            }
    
    </tbody>

    </table>
}
